   .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #f8f8f8;
    }

    .navbar a {
        flex: 1; /* 使每个链接占据相等的空间 */
        text-align: center;
        padding: 10px;
        text-decoration: none;
        color: #000;
       /* transition: background-color 0.1s;  添加过渡效果 */
    }

    .navbar a.active {
        background-color: #f8f8f8; /* 点击时的背景色 */
    }

    [data-role="footer"] a {
        color: #38c !important;
    }


   .footer-nav-item {
        display: none;
        font-size: 0.7em;
        border: 1px solid rgba(204, 204, 204, 0.1);
    }

    .ui-listview li {
        margin-bottom: 10px;
    }
    .ui-listview .time {
        font-size: 10px;
        color: #888;
    }

    #list {
        border-radius: 0.5em;
        padding: 0.1em;
    }

   .row {
      display: flex;
      align-items: center;
    }

    .col-left {
       flex-shrink: 0;
    }

    .col-right {
       flex: 1;
      text-align: right;
    }

     div.col-right>a {
          display: inline-block; /* 让a标签变成行内块元素以成一行 */
          margin-right: 20px; /* 设置右侧间距为10像素 */
     }

     div.col-right {
          position: relative; /* 让div成为相对定位元素以便参考其右侧距离 */
          padding-right: 35px; 设置右侧内边距为20像素以和后面的元素分隔开 */
    }

     div.col-right:after { /* 使用伪元素在div的右侧添加一个空白块元素 */
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 10px; /* 设置宽度为10像素用于和a标签的间距相等 */
          height: 10%;
    }

    #scrollTopBtn {
        position: fixed;
        bottom: 40px;
        right: 20px;
        background-color: #7CCD7C;
        color: white;
        border-radius: 50%;
        border: none;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        transition: background-color .3s, transform .5s;
        z-index: 999;
    }

    #scrollTopBtn:hover {
        background-color: #00868;
        transform: scale(1.2);
    }

    .ui-content{
        padding-bottom: 56px /*同步并适应底部导航栏的高度*/
    }

    #addBtn{
      position: fixed;
      right: 1em;
      top:20em;
      z-index: 1;
      background-color: #698B69;
    }

	#bottom-message-wrapper {
			position: relative;
			overflow: visible;
			padding-top: 20px;
			height: 100px;/* 底部提示信息高度 */
	}

    #bottom-message {
        background: none;           /* 确保没有背景 */
        border: none;              /* 去掉边框 */
        padding: 10px;            /* 内边距 */
        text-align: center;
        font-size: 1em;         /* 字体大小 */
        color: #333;              /* 字体颜色 */
        margin: 20px 0;           /* 上下外边距 */
        display: inline;           /* 使元素保持在文档流中 */
        width: auto;              /* 适应内容的宽度 */
    }

    #allowEdit {
        display: none;
       position: absolute;
            top: 2.4em;
          right: 0.4em;
    }