
    #avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 20px auto;
        cursor: pointer;
    }

    /*昵称样式*/
    #helloNickName{
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
    }
    /* 统计数据样式 */
    .data-block{
        display: inline-block;
        width: 27%;
        margin: 2px;
        padding: 6px;
        background-color: #D1EEEE;
        border-radius: 10px;
        text-align: center;
    }
    /* 统计数据名称样式 */
    h3{
        font-size: 18px;
        margin: 0;
    }
    /* 标签样式 */
    .tag-block {
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 0 5px;
    }
    .tag-block span {
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        background-color: #eee;
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 16px;
        color: #666;
        text-decoration: none;
    }
    /* 分隔线样式 */
    .line {
        height: 1px;
        background-color: #bbb;
        margin: 20px 0;
        border: 0;
    }
    /* 退出按钮样式 */
    #logout {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    /* 头像和昵称容器样式 */
  .profile {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
      margin-left: 10px; /* 调整头像与左边的间距 */
      margin-top: 0px;
  }

    [data-role="footer"] a {
        color: #38c !important;
    }

    #alertModal {
        display: none;
        position: fixed;
        top: 30%; /* Adjusted to move it up */
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 80%;
        max-width: 400px;
        background: white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
        text-align: center;
    }

    #closeAlert {
        position: absolute;
        top: 2px;
        right: 10px;
        font-size: 23px; /* Increased size */
        color: #f00;
        cursor: pointer;
    }

    #alertModal p {
        font-size: 16px;
        margin-top: 20px;
        color: #333;
    }
