
    #avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 20px auto;
        cursor: pointer;
    }
    .header-title {
        text-align: left; /* 标题左对齐 */
        margin-left: 0; /* 靠边 */
        margin-right: auto; /* 左对齐 */
        padding-left: 10px; /* 可选，调整靠边距离 */
    }

    .info-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px 1px; /* 添加内边距 */
    }
    .info-row h3 {
        margin: 0;
        flex: 1; /* h2 占据可用空间 */
    }
    .info-row p {
        margin: 0;
    }
    .carat-icon {
        margin-left: 10px;
    }

    [data-role="footer"] a {
        color: #38c !important;
    }

    .password-input-container {
            position: relative;
            display: flex;
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中对齐 */
            margin-bottom: 1em;
            margin-top: 1em;
        }

    .password-input {
           padding-right: 30px; /* 为了给图标留出空间 */
            font-size: 16px; /* 调整字体大小 */
            width: 80%; /* 调整输入框宽度为 80% */
            height: 40px; /* 增加输入框高度 */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
            border: 1px solid #ccc; /* 添加边框 */
            border-radius: 4px; /* 为输入框添加圆角 */
            outline: none; /* 去掉输入框焦点时的边框 */
    }

    .showPassword {
            font-size: 1em; /* 调整图标大小 */
            margin-left: -28px; /* 调整位置 */
            cursor: pointer;
    }