    .post {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        position: relative;
        background-color: #E0EEEE;
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .user-info span {
        font-weight: bold;  /* 加粗 */
        color: green;      /* 绿色 */
    }

    .user-info img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .content {
        margin-top: 10px;
        word-wrap: break-word; /* 自动换行 */
    }

    .content p {
        text-indent: 2em; /* 第一行缩进两个字符 */
    }

    .time-delete {
        display: flex;
        justify-content: space-between; /* 左右分布 */
        margin-top: 10px; /* 与内容的距离 */
    }

    .time {
        font-size: 0.8em;
        color: #888;
    }
