
    .white_content {
        position: absolute;
        top: 2em;
        left: 25%;
        width: 39em;
        height: 20em;
        padding: 7px;
        border-radius: 1em;
        background-color: #B4EEB4;
    }

