      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
      }

      .way {
        max-width: 450px;
        margin: 50px auto;
        background-color: #B4EEB4;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 25px;
      }

      .answer {
        display: none;
        max-width: 450px;
        margin: 50px auto;
        background-color: #B4EEB4;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 25px;
      }

      .pass {
        display: none;
        max-width: 450px;
        margin: 50px auto;
        background-color: #B4EEB4;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 25px;
      }

      h2 {
        text-align: center;
        color: #3d4e64;
      }