
    th, td {
        text-align: center;
        padding: 5px;
        border: 1px solid #ddd;
        white-space: nowrap;
        overflow: hidden;
    }

    tr {
        height:30px;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    form {
        display: inline-block;
    }

    .white_content {
        display: none;
        position: absolute;
        top: 0;
        left: 14em;
        width: 45em;
        height: 33em;
        padding: 7px;
        border: 7px solid #4CAF50;
        background-color: white;
        z-index:1002;
    }

