    .left_div {
        width: 260px;
        height: 200px;
        border: 4px dashed #ccc;
        text-align: center;
        display: inline-block;
    }

    .right_div {
        width: 300px;
        height: 200px;
    }

    .left_div.dragging {
        background-color: #9BD5FF;
        border-color: #285E8E;
    }

    .img_popup {
        z-index: 10000;
        position: fixed;
        top: 5%;
        left: 30%;
        transform: translate(-10%, -10%);
        padding: 0px;
        display: none;
    }

    .image-wrapper {
        position: relative;
    }

    .close-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        transform: scale(3);
        cursor: pointer;
        color:red
    }