    body, html {
        width:100% ;
        height:100% ;
        overflow:hidden ;
    }

    iframe { width:100% ;
            height:95% ;
    }

    #check {
         font-size:1em;
         font-weight:bold;
        }

    #check a {
         color:inherit;
    }